/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.header {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-bottom: 52px;
}

.image-search {
  display: flex;
  gap: 8px;
}

.image-search input {
  width: 272px;
  padding: 8px 16px;
  color: #808080;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  border-radius: 4px;
  border: 1px solid #808080;
  outline: none;
}

.search-form input:focus,
.search-form input:hover {
  border-color: #000;
}

.search-form button {
  padding: 8px 16px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  border-radius: 8px;
  background: #4e75ff;
  border: none;
}

.search-form button:focus,
.search-form button:hover {
  background-color: #6c8cff;
}

.gallery-item {
  border-radius: 4px;
  border: 1px solid #808080;
  transition: transform 200ms ease;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-item:hover,
.gallery-item:focus {
  transform: scale(1.045);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1134px;
}

.gallery-image {
  width: 360px;
  height: 200px;
}

.info-list {
  background-color: rgb(128, 128, 128, 0.7);
  display: flex;
  justify-content: center;
  gap: 16px;
  width: 360px;
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-item h2 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}

.info-item p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}

.gallery-item:hover .info-list {
  transform: translateY(0%);
}
.loader {
  position: relative;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  box-sizing: border-box;
  background: #fff;
  border: 8px solid #131a1d;
  overflow: hidden;
  box-sizing: border-box;
}
.loader::after {
  content: '';
  position: absolute;
  left: 0;
  top: -50%;
  width: 100%;
  height: 100%;
  background: #263238;
  z-index: 5;
  border-bottom: 8px solid #131a1d;
  box-sizing: border-box;
  animation: eyeShade 3s infinite;
}
.loader::before {
  content: '';
  position: absolute;
  left: 20px;
  bottom: 15px;
  width: 32px;
  z-index: 2;
  height: 32px;
  background: #111;
  border-radius: 50%;
  animation: eyeMove 3s infinite;
}
@keyframes eyeShade {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(5px);
  }
  40%,
  50% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(-8px);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(10px);
  }
}
@keyframes eyeMove {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0px, 5px);
  }
  40%,
  50% {
    transform: translate(0px, -5px);
  }
  60% {
    transform: translate(-10px, -5px);
  }
  75% {
    transform: translate(-20px, 5px);
  }
  100% {
    transform: translate(0, 10px);
  }
}
